<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">
        <strong><%= @restaurant.name %></strong>
      </h2>
      <hr>
    </div>
    <div class="col-md-12">
      <div style="margin-left: 130px">
        <%= image_tag @restaurant.photo.url(:big) %>
      </div>
      <hr/>
      <p><%= @restaurant.description %></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">Platillos
        <strong><%= @restaurant.name %></strong>
      </h2>
      <hr>
      <% @restaurant.dishs.each do |dish| %>
          <div class="col-sm-12 text-center">
            <div style="float: left">
              <%= image_tag(dish.photo.url(:medium), :class => "img-responsive") %>
            </div>
            <div style="float: right; width: 860px">
              <p><%= dish.description %></p>
            </div>
            <h3><%= dish.name %>
              <small>$<%= dish.price %></small>
            </h3>
          </div>
      <% end %>
    </div>
  </div>
</div>